button.btnSubmit {
    margin: 0 auto;
    display: block;
}

form {
    padding: 25px 10px;
    margin-top: 20px;
    border-radius: 10px;
}

.welcome {
    padding: 30px 20px;
    margin-top: 50px;
    border: 2px solid #d6d6d6;
}

#login-form, .welcome {
    display: none;
}